@import "../../theme/variables";

.option {
  margin: 0.5em 0;

  select {
    border: 2px solid $primary;
    border-radius: 5px;
    outline: none;
    padding: 0.25em;
    width: 7em;

    &:focus {
      border-color: $secondary;
    }

    option {
      background-color: $primary;
      color: #fff;
    }
  }
}
